* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* background whole body */
    /* background-color: black; */
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

:root {

    /* set predefault setting here */
    --clr-theme : rgb(255, 123, 0);
    --clr-themeOpacity:rgba(255, 123, 0, 0.9);
    --clr-themeDrop:rgb(255, 137, 27);
    
}

#container {
    width: 100%;
    height: 100%;


    border: 2px solid tomato;

    /* adding margin top just to SEE: ! */
    margin: 0px auto;

    position: relative;

    /* remove excess from container/ browser view */
    overflow: scroll;
    /* overflow: hidden; */
}

header {
    width: 100%;
    height: 50px;

    background-color: var(--clr-theme);

    /* position is fixed... */
    position: fixed;
    top: 0;
    left: 0;

    /* on top foremost */
    z-index: 100;
}


#zoomOrigin {
    width: 1000px;
    height: 1000px;

    background-color: rgba(255, 192, 203, 0.551);
    
    position: absolute;

    top: 0;
    left: 0%;
    
    /* update and change the scale here for the whole animation */
    transform: scale(1);

}

/* ================================================================ */

#sky {
    height: 100%;
    width: 100%;

    background-image: url('images/morning.png');
    background-repeat: no-repeat;
    background-size: contain;

    /* adding blacken effect to sky */
    /* filter: grayscale(90%); */

    position: absolute;
    top: 0;
    left: 0;
}

#land {
    height: 100%;
    width: 100%;

    background-image: url('images/land.png');
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    top: 0;
    left: 0;
}

#home {
    height: 100%;
    width: 100%;

    /* border: 1px solid green; */

    background-image: url('images/home.png');
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    top: 0%;
    left: 0%;

}

/* ================================================================ */

.cat img {

    width: 80px;
    height: auto;
    border: 1px solid green;
    
}

.cat:hover {
    transform: scale(1.2);
    
}

.cat-door {
    /* position relative to Origin */
    position: absolute;
    top: 38%;
    left: 83%;
}


.cat-exercise {
    /* position relative to Origin */
    position: absolute;
    top: 45%;
    left: 56%;
}

/* .cat-exercise::before {
    width: 100% ;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px double black;

    position: absolute;

    content: 'Testtttttttttttttttttttt';
} */

.cat-shy {
    /* position relative to Origin */
    position: absolute;
    top: 25%;
    left: 74%;
}

.cat-sit {
    /* position relative to Origin */
    position: absolute;
    top: 22%;
    left: 58%;
}

.cat-look {
    /* position relative to Origin */
    position: absolute;
    top: 31%;
    left: 51%;
}


.cat-elder {
    /* position relative to Origin */
    position: absolute;
    top: 28%;
    left: 32%;
}

.cat-loud {
    /* position relative to Origin */
    position: absolute;
    top: 59%;
    left: 34%;
}

.cat-sleep {
    /* position relative to Origin */
    position: absolute;
    top: 46%;
    left: 22%;
}

/* ========================================================== */


.talkBox {
    /* auto to fit content */
    height: auto;
    /* height: 8%; */
    width: auto;
    max-width: 15% ;

    background-color: rgba(255, 255, 255, 0.5);
    border: 2px double black;
    border-radius: 10%;

    padding: 1em;
    font-size: 10px;
    font-family: sans-serif;
    text-align: justify;

    /* make overflow text scroll */
    /* overflow-y: scroll; */
    /* using auto height instead of scroll y lol */

    /* position of box based on cat */
    transform: translate(-90%, -78%);
    /* transform-origin:bottom; */

    scrollbar-width: thin;

    /* arrange button centralize */
    /* /* display: flex; */
    /* flex-direction: column; */
    /* display: none; */
    /* align-items: center;
    justify-content: center; */

    display: none;
    /* grid-template-columns: 1fr; */

}

#but2, #but4, #but6, #but7, #but8, #leave-name, #leave-email, #leave-msg {
    display: none;
}

#leave-name, #leave-email, #leave-msg  {
    font-size: 0.8em;
    padding: 0 0.1em;
    width: 90%;
    height: 90%;
}

.button {
    height: auto;
    width: 80px;
    padding: 0.5em;

    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;


    background-color: blue;
    border: 1px solid white;
    color: white;
}

.button:hover {
    cursor: pointer;
    background-color: whitesmoke;
    border:1px solid blue;
    color: blue;
}

/* ==================modal stuff===================================== */
#modalMain {
    width: 100%;
    height: 100%;
    background-color: var(--clr-themeOpacity);

    position: absolute;
    padding: 5%;

    
    
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    
    
    
    
    /* will change using function modal */
    display: none;
    /* display: grid; */
    justify-content: center;
    align-items: center;

}

.modal-contain {

    max-width: 100%;;
    max-height: 100%;
    /* border: 1px solid green; */

    overflow-y: scroll;
    scrollbar-width: thin;

    background-color: whitesmoke;

    padding: 2em;

}

.modal-contain p {
    color: black;
}


#close-modal {
    color: red;
    
    cursor: pointer;
    font-size: 4em;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 200;

    margin-top: 10px;
    margin-right: 20px;
}

#modal2, #modal4, #modal6 {
/* #modal2, #modal4 { */

    /* will change using function modal */
    display: none;
}

#modal2 img {
    width: 200px;
    height: auto;
}

.banner {
    width: auto;
    min-height: 200px;
    max-height: 300px;
    border: 1px solid var(--clr-themeDrop);
    text-align: center;

    /* add spacing to content */
    padding: 1em;
    margin: 1em 0;
    
    /* adding background image */
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    box-shadow: 0px 0px 10px var(--clr-theme);

    transition: ease-in-out 1s;


}

.banner h2 {
    margin-bottom: 2em;
}

#ban1:hover {
    background-image: url("images/ac1.png");
    transform: scale(1.03);
}

#ban2:hover {
    background-image: url("images/ac2.png");
    transform: scale(1.03);
}

#ban3:hover {
    background-image: url("images/ac3.png");
    transform: scale(1.03);
}

#ban4:hover {
    background-image: url("images/ac4.png");
    transform: scale(1.03);
}

#modal6 {
    width: 100%;
    /* reset padding */
    padding: 5px;

    /* display: flex;
    flex-direction: row;
    flex-wrap: inherit;
    justify-content: space-between; */


    /* display: grid; */
    grid-template-columns: 1fr 1fr 1fr;
}


.box-proj {
    min-width: 250px;
    max-width: 300px;
    border: 1px solid var(--clr-themeDrop);
    margin: 0.5em 0.5em;
    /* padding: 0.2em; */
}

.box-proj img {
    width: 100%;
}

.box-text {
    padding: 5px;
}



/* ==================footer stuff====================== */

footer {
    width: 100%;
    height: 150px;

    background-color: var(--clr-theme);

    /* position is fixed... */
    position: fixed;
    bottom: 0;
    left: 0;

    /* on top foremost */
    z-index: 9999;

    /* hide the footer */
    display: none;
    margin: 0 auto;

}

footer img {
    /* width: 100px; */
    height: 150%;

    border-radius: 40%;
    border: 2px solid var(--clr-theme);
    float: left;
    /* margin: 0 0; */
    transform: translate(25%, -45%);

}

#footer-item {
    width: 85%;
    height: 100%;
    border: 1px solid green;

    padding: 1em;
    
    float: right;

}

footer h3, p {
    color: white;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT';
    text-align:left;

    padding: 0 0.5em;
}

footer h3 {
    margin-bottom: 0.5em;
}

footer p {
    font-size: smaller;
}

#about {
    min-width: 200px;
    max-width: 25%;
    height: 100%;

    border: 1px solid blue;
    float: left;
}

#contact {
    min-width: 300px;
    max-width: 40%;
    height: 100%;

    border: 1px solid blue;
    float: right;
}

#connect i {
    text-align: center;
    margin: 15px 10px;
    font-size: 30px;
    color: black;
}

#connect i:hover {
    transform: scale(1.2);
    /* box-shadow: 2px 2px 10px black; */

    filter: drop-shadow(0px 0px 15px white);
    transition: all 0.5s;
}

